@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
    margin: 5rem auto;
    width: 85%;
}

button {
    font-family: 'Open Sans', sans-serif;
    max-width: 12rem;
    margin: auto;
    margin-top: 1rem;
    background: transparent;
    border: 2px black solid;
    border-radius: 0.5rem;
    font-size: larger;
}

input {
    width: 40%;
    margin: auto;
    margin-bottom: 1rem;
    height: 7vh;
    border: 2px black solid;
    border-radius: 0.5rem;
    text-align: center;
    font-size: medium;
}

.output-button {
    font-size: xx-large;
    padding-inline: 1rem;
    margin-inline: 1rem;
    color: white;
    background-color: black;
    border: none;
}

#output-area {
    margin-top: 1rem;
    font-weight: bold;
}

#left-section {
    margin-top: 5rem;
    width: 50%;
    float: left;
}

#right-section {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: right;
}




@media only screen and (max-width: 900px) {
    body {
      display: flex;
      flex-direction: column;
      margin: auto auto;
    }

    #left-section {
        width: 100%;
        margin-top: 1rem;
    }

    #right-section {
        width: 100%;
        margin-top: 1rem;
    }

    input {
        width: 80%;
        height: 5vh;
    }

  }


